<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342589001739-rgcaavnv9u40scgd0fo2sgie4oq7mlrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342589001739-rgcaavnv9u40scgd0fo2sgie4oq7mlrb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>342589001739-ah7cv3ngmjie660jb8e1b4dl97vkfrod.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIQqYET9crLeITjVn2so3finKG-ck2xV8</string>
	<key>GCM_SENDER_ID</key>
	<string>342589001739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.miranda.julian.encarga-Envios</string>
	<key>PROJECT_ID</key>
	<string>bariaenvios</string>
	<key>STORAGE_BUCKET</key>
	<string>bariaenvios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342589001739:ios:a0c86659b8b181817df70e</string>
</dict>
</plist>